<h3><a class="btn btn-seconday" href="/employee"><i class="fa fa-plus"></i> Create New Employee Record</a></h3>
<h3>Employee List</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fName}}</td>
            <td>{{this.lName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>
               <a href="/employee/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
               <a href="/employee/delete/{{this._id}}" onclick="return confirm('Do you want to delete this record? ');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>     
            </td>
        </tr>
        {{/each}}
    </tbody>    
</table>